# Pandas

In [1]:
import pandas as pd

## Series
- pd.Series is a 2d structure with named rows

In [4]:
# pd.Series creates a 2d array with named rows
recipe = pd.Series(data = [6, 2, 'Whole', 'optional'], index = ['eggs', 'potatoes', 'mango', 'beef'])
print(recipe)
print()
print("\nShape:", recipe.shape)
print("Dimension:", recipe.ndim)
print("Size:", recipe.size)
print("Values:", recipe.values)
print("Index:", recipe.index)
print("Bananas in recipe:", 'bananas' in recipe)

print("\nEggs and potatoes:\n", recipe[['eggs', 'potatoes']]) # Array of strings to access multiple
print('Eggs and Mango:\n', recipe.loc['eggs':'potatoes']) # Or loc
print('Mango and Beef:\n', recipe.iloc[[2,3]]) # iloc references by index number

print("\nNew list without beef:\n", recipe.drop('beef')) # does not modify without inplace=True

eggs               6
potatoes           2
mango          Whole
beef        optional
dtype: object


Shape: (4,)
Dimension: 1
Size: 4
Values: [6 2 'Whole' 'optional']
Index: Index(['eggs', 'potatoes', 'mango', 'beef'], dtype='object')
Bananas in recipe: False

Eggs and potatoes:
 eggs        6
potatoes    2
dtype: object
Eggs and Mango:
 eggs        6
potatoes    2
dtype: object
Mango and Beef:
 mango       Whole
beef     optional
dtype: object

New list without beef:
 eggs            6
potatoes        2
mango       Whole
dtype: object

In [5]:
# Math should be done with only numerical values
print("X2", recipe * 2)
print(recipe[['eggs', 'potatoes']] * 2)

X2 eggs                      12
potatoes                   4
mango             WholeWhole
beef        optionaloptional
dtype: object
eggs        12
potatoes     4
dtype: object

## DataFrames
- DataFrames are 2d structures with labeled rows _and_ columns. It's a spreadsheet.
- DataFrames are commonly created with a csv
- `pd.read_csv('filename.csv')`
- `df.head()` is the beginning, df.tail() is the end
- `df.groupby([col_a])[colum].sum()` groups by

In [6]:
items = {'Bob' : pd.Series(data = [245, 25, 55], index = ['bike', 'pants', 'watch']),
         'Alice' : pd.Series(data = [40, 110, 500, 45], index = ['book', 'glasses', 'bike', 'pants'])}
shopping_carts = pd.DataFrame(items)
print(shopping_carts)

           Bob  Alice
bike     245.0  500.0
book       NaN   40.0
glasses    NaN  110.0
pants     25.0   45.0
watch     55.0    NaN

In [7]:
print(shopping_carts.values)
print(shopping_carts.index)
print(shopping_carts.columns)

[[245. 500.]
 [ nan  40.]
 [ nan 110.]
 [ 25.  45.]
 [ 55.  nan]]
Index(['bike', 'book', 'glasses', 'pants', 'watch'], dtype='object')
Index(['Bob', 'Alice'], dtype='object')

In [8]:
# We Create a DataFrame that only has selected items for both Alice and Bob
sel_shopping_cart = pd.DataFrame(items, index = ['pants', 'book'])
print(sel_shopping_cart)

# .pop(), .drop(), .loc, .iloc, .append() and arithmetic all work for DataFrames as well

        Bob  Alice
pants  25.0     45
book    NaN     40

In [9]:
# We create a list of Python dictionaries
items2 = [{'bikes': 20, 'pants': 30, 'watches': 35, 'shirts': 15, 'shoes':8, 'suits':45},
{'watches': 10, 'glasses': 50, 'bikes': 15, 'pants':5, 'shirts': 2, 'shoes':5, 'suits':7},
{'bikes': 20, 'pants': 30, 'watches': 35, 'glasses': 4, 'shoes':10}]

# We create a DataFrame  and provide the row index
store_items = pd.DataFrame(items2, index = ['store 1', 'store 2', 'store 3'])

# We display the DataFrame
print(store_items)

# We count the number of NaN values in store_items
x = store_items.isnull().sum().sum()
print("\nNumber of NaN:", x)
print
print(store_items.isnull())
print()
print(store_items.isnull().sum())
print()
print(store_items.count()) # Counts non null/NaN values

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0      NaN
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     NaN     10    NaN      4.0

Number of NaN: 3
         bikes  pants  watches  shirts  shoes  suits  glasses
store 1  False  False    False   False  False  False     True
store 2  False  False    False   False  False  False    False
store 3  False  False    False    True  False   True    False

bikes      0
pants      0
watches    0
shirts     1
shoes      0
suits      1
glasses    1
dtype: int64

bikes      3
pants      3
watches    3
shirts     2
shoes      3
suits      2
glasses    2
dtype: int64

In [19]:
# We drop any rows with NaN values
# store_items.dropna(axis = 0, inplace=True)
print(store_items.dropna(axis = 0)) # Returns without modifying unless inplace=True
print()

# We drop any columns with NaN values
print(store_items.dropna(axis = 1))
print()
# We replace all NaN values with 0
print(store_items.fillna(0))
print()

# We replace NaN values with the previous value in the column
print(store_items.fillna(method = 'ffill', axis = 0)) # Foreward fills any NaN values, note store 1 contains NaN
print()

# We replace NaN values by using linear interpolation using column values
print(store_items.interpolate(method = 'linear', axis = 0))
print()

# We replace NaN values by using linear interpolation using row values
print(store_items.interpolate(method = 'linear', axis = 1))

store_items.isnull().any()

         bikes  pants  watches  shirts  shoes  suits  glasses
store 2     15      5       10     2.0      5    7.0     50.0

         bikes  pants  watches  shoes
store 1     20     30       35      8
store 2     15      5       10      5
store 3     20     30       35     10

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0      0.0
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     0.0     10    0.0      4.0

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0      NaN
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     2.0     10    7.0      4.0

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0      NaN
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     2.0     10    7.0      4.0

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1   20.0   30.0     35.0    15.0    8.0   45.0     45.0
store 2   15.0    5.0     10.0     2.0    5.0    7.0     50.0
store 3   20.0   30.0     35.0    22.5   10.0    7.0      4.0

bikes      False
pants      False
watches    False
shirts      True
shoes      False
suits       True
glasses     True
dtype: bool

In [20]:
store_items.describe()

,bikes,pants,watches,shirts,shoes,suits,glasses
count,3.000000,3.000000,3.000000,2.000000,3.000000,2.000000,2.000000
mean,18.333333,21.666667,26.666667,8.500000,7.666667,26.000000,27.000000
std,2.886751,14.433757,14.433757,9.192388,2.516611,26.870058,32.526912
min,15.000000,5.000000,10.000000,2.000000,5.000000,7.000000,4.000000
25%,17.500000,17.500000,22.500000,5.250000,6.500000,16.500000,15.500000
50%,20.000000,30.000000,35.000000,8.500000,8.000000,26.000000,27.000000
75%,20.000000,30.000000,35.000000,11.750000,9.000000,35.500000,38.500000
max,20.000000,30.000000,35.000000,15.000000,10.000000,45.000000,50.000000

In [21]:
store_items['shirts'].describe()

count     2.000000
mean      8.500000
std       9.192388
min       2.000000
25%       5.250000
50%       8.500000
75%      11.750000
max      15.000000
Name: shirts, dtype: float64

In [22]:
print(store_items.max())
print()
print(store_items['suits'].min())
print()
print(store_items.mean())

bikes      20.0
pants      30.0
watches    35.0
shirts     15.0
shoes      10.0
suits      45.0
glasses    50.0
dtype: float64

7.0

bikes      18.333333
pants      21.666667
watches    26.666667
shirts      8.500000
shoes       7.666667
suits      26.000000
glasses    27.000000
dtype: float64

In [23]:
# .corr() will get pearson correlation
store_items.corr()

            bikes     pants   watches  shirts     shoes  suits  glasses
bikes    1.000000  1.000000  1.000000     1.0  0.917663    1.0     -1.0
pants    1.000000  1.000000  1.000000     1.0  0.917663    1.0     -1.0
watches  1.000000  1.000000  1.000000     1.0  0.917663    1.0     -1.0
shirts   1.000000  1.000000  1.000000     1.0  1.000000    1.0      NaN
shoes    0.917663  0.917663  0.917663     1.0  1.000000    1.0     -1.0
suits    1.000000  1.000000  1.000000     1.0  1.000000    1.0      NaN
glasses -1.000000 -1.000000 -1.000000     NaN -1.000000    NaN      1.0